<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<script src="/javascripts/juicer-min.js"></script>
</head>
<body>
		<ul>
			{@each list as it,index}
				<li>${it.name}(index: ${index})</li>
			{@/each}
			{@each blah as it}
            <li>
                num: ${it.num} <br />
                {@if it.num==3}
                    {@each it.inner as it2}
                        ${it2.time} <br />
                    {@/each}
                {@/if}
            </li>
        	{@/each}
		</ul>

</body>
</html>